# DATABASE_URL="postgresql://looply:password@localhost:5432/looply"
DATABASE_URL="postgres://looply:password@postgres:5432/looply"

BASE_URL=http://localhost:3000
VERIFICATION_TOKEN_SECRET=super_secret_key


ACCESS_TOKEN_SECRET=something
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=something
REFRESH_TOKEN_EXPIRTY=7d

NODE_ENV=production